{%- liquid
  assign current_collection = product.collections | first
-%}

{%- if current_collection != blank -%}
  <div class="product-collection-link" {{ block.shopify_attributes }}>
    <p>
      <span>{{ block.settings.title }}</span>
      <a href="{{ current_collection.url }}">{{ current_collection.title }}</a>
    </p>
  </div>
{%- endif -%}

<style>
  .product-collection-link p {
    margin: 0.5rem 0;
    font-size: 0.8rem;
    color: currentColor;
  }
  .product-collection-link a {
    color: currentColor;
    text-underline-offset: 0.2rem;
    transition: opacity 0.3s ease;
  }
  .product-collection-link a:hover {
    opacity: 0.75;
  }
</style>

{% schema %}
{
  "name": "Collection Link",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Collection: "
    }
  ],
  "presets": [
    {
      "name": "collection link",
      "category": "t:categories.custom"
    }
  ]
}
{% endschema %}
